body {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  counter-reset: game;
}

input[type="checkbox"] {
  position: absolute;
  height: 100%;
  width: 100%;

  appearance: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  counter-increment: game;
}

.total::after {
  content: counter(game);
}

.phone {
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  height: 600px;
  width: 300px;
  background-color: #ccefff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  user-select: none;
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.423);
  text-shadow: 2px 2px 1px black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 12;
  visibility: hidden;
}

.modal-on {
  visibility: visible;
}

.modal button {
  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: rgb(37, 181, 171);
  cursor: pointer;
}

.layer-1 {
  position: absolute;
  z-index: 1;
  height: 470px;
  width: 80px;
  bottom: 0;
  right: 60px;

  animation-name: layer-1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.layer-1 img {
  border-radius: 50%;
  object-fit: contain;
}
@keyframes layer-1 {
  0% {
    bottom: 0;
  }
  25% {
    bottom: -80px;
  }
  100% {
    bottom: 0;
  }
}

.layer-2 {
  position: absolute;
  z-index: 2;
  height: 470px;
  width: 80px;
  bottom: 0;
  left: 60px;

  animation: layer-2;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes layer-2 {
  0% {
    height: 470px;
  }
  60% {
    height: 400px;
  }
}

.layer-3 {
  position: absolute;
  z-index: 3;
  height: 400px;
  width: 80px;
  background-image: url(./assets/698684.png);
  background-size: contain;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 220px;
}
.layer-4 {
  position: absolute;
  z-index: 4;
  height: 355px;
  width: 80px;
  bottom: 0;
  left: 20px;

  animation: layer-4;
  animation-duration: 1s;
  animation-delay: -5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes layer-4 {
  0% {
    bottom: 0;
  }
  25% {
    bottom: -100px;
  }

  70% {
    bottom: 0;
  }
}

.layer-5 {
  position: absolute;
  z-index: 5;
  height: 280px;
  background-image: url(./assets/brickwall.png);
  background-size: contain;
  bottom: 0;
  left: 0;
  width: 130px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.59);
  border-radius: 5px;
}
.layer-6 {
  position: absolute;
  z-index: 6;
  height: 250px;
  width: 80px;
  bottom: 0;
  right: 20px;

  animation-name: layer-6;
  animation-timing-function: ease-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes layer-6 {
  0% {
    bottom: 0;
  }
  10% {
    bottom: -100px;
  }
  95% {
    bottom: 0;
  }
}

.layer-7 {
  position: absolute;
  z-index: 7;
  height: 200px;
  bottom: -10px;
  right: 0;
  width: 150px;
  background-image: url(./assets/muro-de-berlin.png);
  background-size: cover;
  background-repeat: none;
}
.layer-8 {
  position: absolute;
  z-index: 8;
  height: 200px;
  width: 50%;
  bottom: 15px;
  left: 0;
  right: 0;
  background-image: url(./assets/arbol-de-manzana.png);
  background-size: contain;
}
.layer-9 {
  position: absolute;
  z-index: 9;
  left: -20px;
  bottom: 0;
  width: 60%;
  height: 145px;
  background-image: url(./assets/arbusto.png);
  background-size: cover;
  background-repeat: none;
}

.layer-10 {
  background-image: url(./assets/nubes.png);
  background-size: cover;
  background-repeat: none;

  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 80px;
}
